<ion-view view-title="New Search" hide-nav-bar=true cache-view="false" ng-init="init()" can-swipe-back="false" hide-tabs>
  <div class="bar bar-header bar-stable">
    <a class="button button-icon icon ion-ios-arrow-left" ng-click="back()"></a>
    <h1 class="title">
            <span class="text-access">New Search</span>
        </h1>
  </div>
  <ion-content class="has-header new-search">
    <!--New Search Form-->
    <div class="list">
      <form class="newSearchForm">
        <p class="textCenter">SEARCH FOR ALL YOUR SUPER</p>
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Date of Birth">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email Address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Mobile Number">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Tax File Number">
        </label>
        <ion-checkbox ng-model="item.checked" ng-checked="item.checked">
          I agree to T & C
        </ion-checkbox>
        <div class="padding">
          <button class="button button-block button-positive" ui-sref="main.superresults">FIND MY SUPER</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
