<ion-view view-title="Home" hide-nav-bar=true cache-view="false" ng-init="init()" can-swipe-back="false">
  <div class="bar bar-header bar-stable">
    <h1 class="title">
            <span class="text-access">Home</span>
        </h1>
  </div>
  <ion-content class="padding has-header">
    <div class="list">
      <div class="search-section">
        <img src="img/home-search.png">
        <button class="button button-block button-positive"  ui-sref="main.newsearch">New Search</button>
      </div>
      <div class="search-section refresh-search">
        <img src="img/home-refresh.png">
        <button class="button button-block button-positive">Refresh My Search</button>
      </div>
    </div>
  </ion-content>
</ion-view>
