<ion-view view-title="FAQ" hide-nav-bar=true cache-view="false" ng-init="init()" can-swipe-back="false">
  <div class="bar bar-header bar-stable">
    <h1 class="title">
            <span class="text-access">FAQ</span>
        </h1>
  </div>
  <ion-content class="has-header faq-content">
    <ion-list>
      <div class="custom-content-width">
        <ion-list>
          <ion-item>
            <h2>Congratulations on taking the first step of finding your Super and taking control of your financial future.</h2>
            <p>Find My Super has compiled answers to the most common questions regarding our search and consolidation process.</p>
          </ion-item>
          <ion-item>
            <h3>DOES FIND MY SUPER GUARANTEE A RESULT?</h3>
            <p>Find my super cannot guarantee a result. We rely on the accuracy of your data as well as the accuracy coming from the superannuation funds. All superannuation funds have to report contributions with a tax file number. If the tax file number matches then we are more likely to get a positive result.
            </p>
          </ion-item>
          <ion-item>
            <h3>WHY IS THE FIND MY SUPER SEARCH DIFFERENT?</h3>
            <p></p>
          </ion-item>
          <ion-item>
            <h3>IS YOUR SEARCH FREE?</h3>
            <p></p>
          </ion-item>
          <ion-item>
            <h3>WHY DO I PAY A FEE OF $250.00?</h3>
            <p></p>
          </ion-item>
          <ion-item>
            <h3>CAN I GET ADVICE ON WHERE I SHOULD PUT MY
SUPER?</h3>
            <p></p>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
