/* Empty. Add your own CSS if you like */


/*Generic Classes*/

.no-border {
  border: none !important;
}

.bold {
  font-weight: bold !important;
}


/*Margins*/

.mt20 {
  margin-top: 20px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.button.button-positive {
  border-color: transparent;
  background-color: #8bc53f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  font-family: LatoRegular;
}

.button.button-positive.active,
.button.button-positive.activated {
  background-color: #74ab2b;
}

.ion-ios-arrow-left:before {
  color: #fff;
}

.textCenter {
  text-align: center !important;
}


/*Placeholders*/

form::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3c3c3c;
  font-family: LatoLight;
}

form::-moz-placeholder {
  /* Firefox 19+ */
  color: #3c3c3c;
  font-family: LatoLight;
}

form:-ms-input-placeholder {
  /* IE 10+ */
  color: #3c3c3c;
  font-family: LatoLight;
}

form:-moz-placeholder {
  /* Firefox 18- */
  color: #3c3c3c;
  font-family: LatoLight;
}


/*** Media queries ***/


/*Iphone5*/

@media screen and (device-aspect-ratio: 40/71) {
  ion-content .list {
    max-width: 290px !important;
  }
  form.newSearchForm h2 {
    font-size: 18px !important;
  }
	ion-md-input input,
	ion-md-input .md-bar{
		width: 250px !important;
	}
  /*Home*/
  .search-section {
    margin-top: 0 !important;
  }
  .refresh-search {
    margin-top: 30px !important;
  }
  .search-section img {
    width: 25% !important;
    margin-bottom: 0px !important;
  }
}


/*** Ionic Tabs ***/

.tabs {
  background-color: #20307b;
  background-image: none;
}

.tabs .tab-item .tab-title {
  font-size: 12px;
  color: #a8a8a8;
}

.tabs .tab-item .icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  background-size: contain;
}

.tabs .tab-item .icon.home {
  background-image: url('../img/home-icon.png');
}

.tabs .tab-item .icon.service {
  background-image: url('../img/service-icon.png');
}

.tabs .tab-item .icon.contact {
  background-image: url('../img/contact-icon.png');
}

.tabs .tab-item .icon.faq {
  background-image: url('../img/faq-icon.png');
}

.tabs-icon-top > .tabs .tab-item {
  margin-top: 2px;
  opacity: 1;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active .icon.home,
ion-tabs.tabs-color-active-positive .tab-item.active .icon.home,
ion-tabs.tabs-color-active-positive .tab-item.activated .icon.home {
  background-image: url('../img/home-icon-active.png');
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active .icon.service,
ion-tabs.tabs-color-active-positive .tab-item.active .icon.service,
ion-tabs.tabs-color-active-positive .tab-item.activated .icon.service {
  background-image: url('../img/service-icon-active.png');
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active .icon.contact,
ion-tabs.tabs-color-active-positive .tab-item.active .icon.contact,
ion-tabs.tabs-color-active-positive .tab-item.activated .icon.contact {
  background-image: url('../img/contact-icon-active.png');
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active .icon.faq,
ion-tabs.tabs-color-active-positive .tab-item.active .icon.faq,
ion-tabs.tabs-color-active-positive .tab-item.activated .icon.faq {
  background-image: url('../img/faq-icon-active.png');
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active span.tab-title,
ion-tabs.tabs-color-active-positive .tab-item.active span.tab-title,
ion-tabs.tabs-color-active-positive .tab-item.activated span.tab-title {
  color: #8bc53f;
}


/*Header*/

.bar.bar-stable {
  background-color: #20307b;
}

.bar.bar-stable .title {
  color: #fff;
  font-family: MyriadProRegular;
  font-size: 18px;
}

.bar-stable .button.button-clear {
  margin-right: 10px;
}

.bar-stable .button.button-clear i {
  color: #fff;
  font-size: 25px;
}


/*Home Page*/

.search-section {
  text-align: center;
  margin-top: 10px;
}

.search-section img {
  width: 30%;
  margin-bottom: 10px;
}

.search-section button {
  width: 80%;
  margin: 0 auto;
  text-transform: capitalize !important;
  font-size: 19px;
}

.refresh-search {
  margin-top: 50px;
}


/*New Search Page*/

form.newSearchForm {
  background: transparent;
}

.new-search .list .item:nth-child(2) {
  border-top: 1px solid #a8a8a8;
}

.new-search .list .item:nth-child(6) {
  border-bottom: 2px solid #a8a8a8;
}

form.newSearchForm h2 {
  margin-bottom: 25px;
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: LatoLight;
}

.new-search .list .item {
  padding: 25px 12px;
  border: none;
  border-left: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
}

.item-checkbox {
  border: none !important;
  padding-left: 0 !important;
}

.item-checkbox .checkbox {
  padding-left: 0;
  left: 0;
}

.checkbox-icon:before {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #fff !important;
  border-color: #a8a8a8 !important;
}

.checkbox-icon:after {
  top: 28%;
  left: 15%;
  width: 20px;
  height: 7px;
  border: 1px solid #8bc53f;
  border-top: 0;
  border-right: 0;
}

.checkbox input:checked:before,
input:checked + .checkbox-icon:before {
  border-width: 1px;
}

.item-content.disable-pointer-events {
  margin-left: 45px;
  font-family: LatoRegular;
}


/*Super result page*/

ion-item-group {
  display: block;
}

.platform-ios .item-divider-platform,
.item-divider-ios {
  background-color: #e0e0e0;
  color: #20307b;
  font-size: 20px;
  /* font-weight: 500; */
  padding-bottom: 26px;
  font-family: LatoBold;
}

.item-sub-divider {
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 18px;
  /* font-weight: bold; */
  background-color: #d1edac;
  color: #2c3a81;
  font-family: LatoBlack;
}

ion-item-group p {
  color: #6e6e6e !important;
  font-size: 17px !important;
  margin-bottom: 10px !important;
  font-family: LatoRegular;
}

ion-item-group h2 {
  color: #3c3c3c;
  text-shadow: 0 0 0 #3c3c3c;
  font-size: 24px !important;
  font-family: LatoRegular;
}

.custom-footer {
  background-color: rgba(0, 0, 0, 0.60) !important;
}

.custom-footer .button {
  margin: 0 auto;
  max-width: 60%;
}

.custom-content-width {
  max-width: 425px;
  margin: 0px auto;
}

.custom-content-width .list {
  max-width: none;
  margin: 0px;
}


/*
.checkbox-icon:after {
  top: 30%;
  left: 17%;
  width: 19px;
  height: 7px;
  border: 1px solid #8bc53f;
}
*/


/*Service page*/

ion-content .list {
  max-width: 345px;
  margin: 20px auto;
}

.item-avatar .item-content > img:first-child {
  left: 0 !important;
  max-width: 55px;
  max-height: 55px;
  top: 10px;
}

.item-avatar .item-content,
.item-avatar .item-content h2 {
  overflow: initial !important;
  text-overflow: initial !important;
  white-space: normal !important;
  font-family: LatoLight;
  font-size: 13px;
}

.item-complex.item-icon-right .item-content {
  padding-right: 0;
}

.item-avatar .item-content {
  padding-left: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
}

ion-list-header p {
  line-height: 15px;
  margin-bottom: 0;
  font-family: LatoRegular;
}


/*contact page*/

.card {
  box-shadow: none;
  margin: 20px 10px 0px 10px;
}

.card .item {
  border: none;
  padding-bottom: 30px;
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
  padding-top: 13px;
  line-height: 15px;
  font-family: LatoSemiBold;
  font-size: 13px;
}

.card .item:first-child {
  padding-top: 0;
  padding-bottom: 10px;
}

.card .item:last-child {
  padding-bottom: 15px;
}

.item-icon-left .icon {
  left: 11px;
  width: 45px;
  height: 45px;
}

.item-icon-left {
  padding-left: 70px;
}


/*form*/

form.contactForm .list p {
  font-size: 15px;
  font-family: LatoRegular;
}

form.newSearchForm .list {
  border: 1px solid #a8a8a8;
}

ion-md-input {
  position: relative;
  margin-top: 45px;
  margin-left: 20px;
  display: block;
}

ion-md-input:first-child {
  margin-top: inherit;
}

ion-md-input:last-child {
  margin-bottom: inherit;
}

ion-md-input input {
  font-size: 18px !important;
  padding: 10px 10px 10px 5px !important;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #cecece !important;
  vertical-align: baseline;
}

ion-md-input input:focus {
  outline: none;
}

ion-md-input .md-bar {
  position: relative;
  display: block;
  width: 300px;
}

ion-md-input .md-bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

ion-md-input .md-bar:before {
  left: 50%;
}

ion-md-input input:focus ~ .md-bar:before {
  left: 0%;
  width: 100%;
}

ion-md-input label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-md-input input:focus ~ label,
ion-md-input input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

ion-md-input .md-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

ion-md-input input:focus ~ .md-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}


/*** FAQ ***/

.faq-content .item {
  border: none;
  border-bottom: 1px solid #b7b7b7;
  padding: 16px 5px;
}

.faq-content .list {
  margin: 0 auto;
}

.faq-content .item h2,
.faq-content .item h3,
.faq-content .item p {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}

.faq-content .item h2 {
  color: #8bc53f;
  font-family: LatoHeavy;
  font-size: 19px;
  margin-bottom: 10px;
}

.faq-content .item p {
  color: #3c3c3c;
  font-size: 14px;
  font-family: MyriadProRegular;
  margin-bottom: 10px;
  line-height: 18px;
}

.faq-content .item h3 {
  color: #8bc53f;
  font-family: LatoHeavy;
  font-size: 16px;
  margin-bottom: 10px;
}

.faq-content .item.item-accordion p {
  color: #3c3c3c;
  font-size: 14px;
  font-family: MyriadProRegular;
  margin-bottom: 10px;
  line-height: 18px;
}

.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item.item-stable,
.item.active.item-stable {
  background: transparent;
  padding-bottom: 0;
}

.item.active.item-stable {
  border-bottom: none;
}
